# Project Path, Should Be Full Path
PROJECT_PATH =

# Workspace File Name, Should Include .xcworkspace File Extension
WORKSPACE =

# XCode Scheme Name
SCHEME =

# Path Of altool, Mind The Whitespace
ALTOOL_PATH = /usr/local/bin/altool

# AppStore Upload Config
APPSTORE_USERNAME =
APPSTORE_PASSWORD =

# FIR Token
FIR_TOKEN =
